<div class="container">
  <div class="row">
    <div class="col admin-items">
        <h2>Admin Panel</h2>
        <div class="bg-dark my-2">
          <button class="btn btn-dark mx-2 my-2"><a routerLink="/movie-item"href="/movie-item">Movie Item</a></button>
          <button class="btn btn-dark mx-2 my-2"><a routerLink="/add-items"href="/add-items">Add Items</a></button>
          <button class="btn btn-dark mx-2 my-2"><a routerLink="/delete-item"href="/delete-item">Delete Items</a></button>
          <button class="btn btn-dark mx-2 my-2"><a routerLink="/language"href="/language">Language</a></button>
        </div>
    </div>
  </div>
</div>
