<div class="container">
  <div class="row">
    <div class="col">
      <form [formGroup]="addGenreForm" (ngSubmit)="onSubmitCreateGenre()">
        <h4>Add Genre</h4>
        <div class="form-group">
          <label for="addGenre" class="col-form-label">Genre:</label>
          <input formControlName="genreName" type="text" class="form-control" id="addGenre">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit Genre</button>
        </div>
      </form>
      <form [formGroup]="addMovieForm" (ngSubmit)="onSubmitCreateMovie()">
        <h4>Add Movie</h4>
        <div class="form-group">
          <label for="addMovieTitle" class="col-form-label">Title:</label>
          <input formControlName="movieTitle" type="text" class="form-control" id="addMovieTitle">

          <label for="addMovieReleaseDate" class="col-form-label">Release date:</label>
          <input formControlName="releaseDate" type="date" class="form-control" id="addMovieReleaseDate">

          <label for="addMovieDesc" class="col-form-label">Description:</label>
          <input formControlName="movieDesc" type="text" class="form-control" id="addMovieDesc">

          <label for="addMovieRunTime" class="col-form-label">Lenght:</label>
          <input formControlName="movieRunTime" type="text" class="form-control" id="addMovieRunTime">

          <div formGroupName ="language">
            <label for="addMovieLanguage" class="col-form-label">LanguageID:</label>
            <input formControlName="languageID" type="number" class="form-control" id="addMovieLanguage">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit Movie</button>
        </div>
      </form>
    </div>
  </div>
</div>
