
      <div class="card d-inline-block my-2 mx-2" style="width: 18rem;">
        <img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
        <div class="card-body">

          <h5 class="card-title">{{movie.movieTitle}}</h5>
          <p class="card-text">{{movie.movieDesc}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{movie.releaseDate}}</li>
          <li class="list-group-item">{{movie.movieRunTime}}</li>
        </ul>
        <div class="card-body">
          <a href="/reserve" routerLink="/reserve" class="card-link" (click)="onClick()">Book tid</a>
        </div>
      </div>

