<div class="container">
  <div class="row">
    <div class="col">
      <div *ngFor="let movies of movie">
        {{movies.movieID}}
        {{movies.movieTitle}}
        {{movies.releaseDate}}
        {{movies.movieRunTime}}
        {{movies.language.languageName}}
      </div>
      <h3>Select row:</h3>
      <select [(ngModel)]="rowNumber" (change)="onClickShowRows()" id="selectpicker">
        <option  *ngFor="let rows of row"[row] = "rows">{{rows.rowNumber}}</option>
      </select>
      <h3>Select seat:</h3>

      <select [(ngModel)]="seatNumber" (change)="onClickShowSeats()" id="selectpicker">
        <option  *ngFor="let seats of seat"[seat] = "seats">{{seats.seatNumber}}</option>
      </select>
    </div>
  </div>
</div>
